body {
  background-image: url(/building.jpg);
}

.navbar {
  border-radius: 20px;
  margin: 10px 150px;
}

.btn {
  margin: 0 10px;
}

.div {
  margin-top: 10%;
  margin-bottom: 10%;
}

.container {
  font-weight: bold;
  font-family: cursive;
}

.hide {
  display: none;
}
h5 {
  font-weight: bold;
}

.row {
  padding: 30px;
}

.card {
  background-color: rgba(255, 255, 255, 0.705);
  min-height: 350px;
  min-width: 380px;
  border-radius: 4%;
}

.card-header {
  border-radius: 20px;
}

.col {
  padding: 30px;
}

.card-footer {
  border-radius: 70px;
}

.navbar-brand {
  padding: 0 20px;
  font-family: "Lucida";
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  background-color: rgb(78, 124, 164);
}

footer {
  background-color: rgba(245, 245, 245, 0.568);
  border-radius: 20px;
  margin: 10px 250px;
}

footer > .text-center {
  border-radius: 20px;
}

/* input[type="search"]::-webkit-search-cancel-button {
  display: none;
} */

@media only screen and (max-width: 1000px) {
  .card {
    width: 360px;
  }

  .col {
    display: flex;
    justify-content: center;
  }

  .navbar {
    min-width: 420px;
  }

  footer {
    /* min-width: 450px; */
    margin: 10px 200px;
  }
}

@media only screen and (max-width: 850px) {
  footer {
    margin: 10px 170px;
  }
}

@media only screen and (max-width: 790px) {
  footer {
    margin: 10px 140px;
  }

  @media only screen and (max-width: 750px) {
    .navbar {
      margin: 10px 90px;
    }
    footer {
      margin: 10px 110px;
    }
  }

  @media only screen and (max-width: 680px) {
    footer {
      margin: 10px 100px;
    }
  }

  @media only screen and (max-width: 660px) {
    footer {
      margin: 10px 90px;
    }
  }

  @media only screen and (max-width: 630px) {
    .navbar {
      margin: 10px 70px;
    }

    footer {
      margin: 10px 70px;
    }
  }

  @media only screen and (max-width: 600px) {
    footer {
      margin: 10px 50px;
    }
  }

  @media only screen and (max-width: 580px) {
    .navbar {
      margin: 10px 50px;
    }
  }

  @media only screen and (max-width: 560px) {
    footer {
      margin: 10px 30px;
    }
  }

  @media only screen and (max-width: 530px) {
    .navbar {
      margin: 10px 30px;
    }
    footer {
      margin: 10px 10px;
    }
  }

  @media only screen and (max-width: 495px) {
    .navbar {
      margin: 10px 10px;
    }
  }

  @media only screen and (max-width: 460px) {
    .navbar {
      min-width: 360px;
      margin: 10px 10px;
    }
  }

  @media only screen and (max-width: 400px) {
    .navbar {
      min-width: 300px;
    }

    .card {
      max-width: 100px;
    }
  }

  @media only screen and (max-width: 340px) {
    .card {
      margin: 10px;
      min-width: 300px;
    }

    footer {
      min-width: 300px;
    }
  }
}
